<div class="container">
<%= form_for @article do |f| %>

<h5><%= f.label :Title %></h5>
<%= f.text_field :title ,:class => "form-control"%><br>

<h5><%= f.label :Content %></h5>
<%= f.text_area :content, :class => "form-control" %><br>

<%= f.submit({:class => "btn btn-primary"})%>

<% end %>
</div>

